/vendor/
/node_modules/
.env
.DS_Store
/.idea
/.vscode
/.sass-cache/
/homestead.yaml
/.env.backup
/phpunit.xml
/public/hot
/public/storage
/storage/*.key
/.buildpath
/.project
/.settings
/nbproject
/_ide_helper.php
/_ide_helper_models.php
/bootstrap/cache/
/.phpintel/
/public/css
/public/js
/public/mix-manifest.json
/public/fonts
/public/images
/public/storage
/storage/framework/
/storage/logs/
/storage/debugbar/
/tests/_output/
/tests/_support/_generated/
/.phpstorm.meta.php
/.php_cs.cache
/.phpunit.result.cache
/.deploy.php
/deploy.php
/c3.php
/phpunit-*.xml
/envoy.blade.php
/.env.testing
/yarn-error.log
